
img {
position: absolute;
width: 270px;
height: 266px;
left: 1035px;
top: 1583px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
h4{
    position: absolute;
width: 47px;
height: 36px;
left: 1147px;
top: 1698px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 100.9%;
/* or 36px */
color: #FFFFFF;
}