<div id="main">
   


   <span id="mostpprecepie" class="mprecepie">Most Popular Recipes</span>

   <img src="assets\thali.jpg" class="recepie1img" id="recepie1">
   <span id="thaliimg" class="thaliimg">Delicious Premium Thali</span>

   <img src="assets\pavbhaji.jpg" class="recepie1img1">
   <span id="braintext" class="braintext">Pav Bhaji</span>

   <img src="assets\sweets.jpg" class="recepie1img2">
   <span id="trdsweet" class="trdsweet">Traditional Sweets</span>

   <img src="assets\gettyimages-155152615-612x612.jpg" class="recepie1img3">
   <span id="grillchic" class="grillchic">Mexican Grilled Chicken</span>

   <router-outlet></router-outlet>
</div>