<div class="container">
   <div id="mostpprecepie" class="mprecepie">Most Popular Recipes</div>
   <div class="receipe-container">
      <div class="sect1">
         <div>
         <span id="centered" class="centered">Delicious Premium Thali</span>
         </div>
         
      </div>

      <div class="sect2">
         <div>
         <span id="centered" class="centered">Pav Bhaji</span>
         </div>
      </div>
      
   </div>

   <div class="receipe-container">
      <div class="sect3">
         <div>
         <span id="centered" class="centered">Mexican Grilled Chicken</span>
      </div>
      </div>
      <div class="sect4">
         <div>
            <span id="centered" class="centered">Traditional Sweets</span>
         </div>
      </div>
   </div>
</div>
<!-- 

   <img src="assets\thali.jpg" class="recepie1img" id="recepie1">
   <span id="thaliimg" class="thaliimg">Delicious Premium Thali</span>

   <img src="assets\pavbhaji.jpg" class="recepie1img1">
   <span id="braintext" class="braintext">Pav Bhaji</span>

   <img src="assets\sweets.jpg" class="recepie1img2">
   <span id="trdsweet" class="trdsweet">Traditional Sweets</span>

   <img src="assets\gettyimages-155152615-612x612.jpg" class="recepie1img3">
   <span id="grillchic" class="grillchic">Mexican Grilled Chicken</span> -->