.auth{
    position: absolute;
    width: 61px;
    height: 24px;
    left: 1035px;
    top: 976px;
      font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100.9%;
    /* or 18px */
      color: #2D2D2D;
   }
  .chefimg{
    position: absolute;
  width: 200px;
  height: 200px;
  left: 1070px;
  top: 1047px;
  background: 
   drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
  }
  .luis2{
    position: absolute;
  width: 130px;
  height: 30px;
  left: 1105px;
  top: 1270px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100.9%;
  /* or 24px */
  color: #2D2D2D;
  }
  .textlorem{
    position: absolute;
  width: 219px;
  height: 70px;
  left: 1061px;
  top: 1315px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 138.9%;
  /* or 21px */
  text-align: center;
  color: rgba(45, 45, 45, 0.6);
  }
  .subsfollow{
    position: absolute;
  width: 163px;
  height: 18px;
  left: 1035px;
  top: 1410px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100.9%;
  /* or 18px */
  color: #2D2D2D;
  }
  .rect27
  {
    position: absolute;
  width: 133px;
  height: 43px;
  left: 1035px;
  top: 1468px;
  background: #DEDADA;
  border-color: #DEDADA;
  }
  .rect27vect{
    position: absolute;
  left: 29.17%;
  right: 25%;
  top: 8.33%;
  bottom: 8.33%;
  border: 1px solid #FE4A51;
  
  }
  .rect27text{
    position: absolute;
  width: 60px;
  height: 12px;
  left: 1083px;
  top: 1484px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  color: #000000;
  }
  hr{
  position: absolute;
width: 270px;
height: 0px;
left: 1035px;
top: 1024px;
border: 1px solid #2D2D2D;
  }
  .subsfollow1{
    position: absolute;
width: 133px;
height: 43px;
left: 1172px;
top: 1468px;
background: #DEDADA;
border-color: #DEDADA;
  }
 .subfollow2{
  position: absolute;
width: 133px;
height: 43px;
left: 1035px;
top: 1515px;
background: #DEDADA;
border-color: #DEDADA;
}
   .subfollow3{
    position: absolute;
width: 133px;
height: 43px;
left: 1172px;
top: 1515px;
background: #DEDADA;
border-color: #DEDADA;
   }
   .fl1{
    position: absolute;
width: 60px;
height: 12px;
left: 1220px;
top: 1484px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */
color: #000000;
   }
   .fl2{
    position: absolute;
width: 60px;
height: 12px;
left: 1083px;
top: 1531px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */
color: #000000;
   }
.fl3{
    position: absolute;
width: 45px;
height: 12px;
left: 1220px;
top: 1531px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */
color: #000000;
}