div{
  align-content: center;
}
.auth{
    position: absolute;
    width: 65px;
    height: 24px;
    align-content: center;
    left: 45%;
    right:45%;
    top: 145px;
      font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100.9%;
    text-align: center;
    /* or 18px */
      color: #2D2D2D;
   }
  .chefimg{
    position:absolute;
  width: 250px;
  height: 300px;
  left: 42%;
  right: 42%;
  top: 195px;
  background: 
   drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
  }
  .luis2{
    position: absolute;
  width: 130px;
  height: 30px;
  left: 45%;
  right:45%;
  top: 500px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100.9%;
  text-align: center;
  /* or 24px */
  color: #2D2D2D;
  }
  .textlorem{
    position: absolute;
  width: 219px;
  height: 70px;
  left: 42%;
  right:42%;
  top: 525px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 138.9%;
  /* or 21px */
  text-align: center;
  color: rgba(45, 45, 45, 0.6);
  }
  .subsfollow{
    position: absolute;
  width: 163px;
  height: 18px;
  left: 45%;
  right:45%;
  top: 600px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100.9%;
  text-align: center;
  /* or 18px */
  color: #2D2D2D;
  }
  .rect27
  {
    position: absolute;
  width: 133px;
  height: 43px;
  left: 42%;
  right:42%;
  top: 625px;
  align-items: center;
  background: #DEDADA;
  border-color: #DEDADA;
  }
    .rect27text{
    position: absolute;
  width: 60px;
  height: 12px;
  left: 45%;
  right:45%;
   top: 640px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  /* identical to box height */
  color: #000000;
  }
  hr{
  position: absolute;
width: 270px;
height: 0px;
left: 40%;
right: 40%;
top: 165px;
border: 1px solid #2D2D2D;
  }
  .subsfollow1{
    position: absolute;
width: 133px;
height: 43px;
left: 52%;
  right:42%;
top: 625px;
background: #DEDADA;
border-color: #DEDADA;
  }
 .subfollow2{
  position: absolute;
width: 133px;
height: 43px;
left: 42%;
  right:42%;
top: 675px;
background: #DEDADA;
border-color: #DEDADA;
}
   .subfollow3{
    position: absolute;
width: 133px;
height: 43px;
left: 52%;
  right:42%;
top: 675px;
background: #DEDADA;
border-color: #DEDADA;
   }
   .fl1{
    position: absolute;
width: 60px;
height: 12px;
  left: 55%;
  right:45%;
top: 640px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: center;
/* identical to box height */
color: #000000;
   }
   .fl2{
    position: absolute;
width: 60px;
height: 12px;
left: 45%;
right:45%;
top: 690px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: center;
/* identical to box height */
color: #000000;
   }
.fl3{
    position: absolute;
width: 45px;
height: 12px;
left: 55%;
right:45%;
top: 690px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */
color: #000000;
}