>
<h1>About</h1>
<p class="abttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Placerat posuere mauris ac scelerisque. Gravida id dui arcu nibh </p>
<h3>Archives</h3><ul class="arctext">
    <li>Jun 2019</li>
    <li>Jun 2018</li>
    <li>Jun 2017-14</li>
   </ul>

<h4>Recipes</h4>
<h2>Newsletter</h2>
<!-- <span id="textbox" class="textbox"></span> -->
<span id="nltext2" class="nltext2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Placerat posuere mauris</span> 

    <form id="card1">
    <input type="txtbox" class="txtbox" name="Email">
    <span id="subtext1" class="subtext1">Your email address</span>
    <button type="button" class="button"></button>
    <span id="subtext" class="subtext">Subscribe</span>
    </form>