<div class="menu">
    <button type="button" class="logo">FOOBLO</button>
    <button type="button" class="btn1" (click)="onGoTohome()">Home</button>
    <button type="button" class="btn2" (click)="onGoTorecepie()">Recepie</button>
    <button type="button" class="btn3" (click)="onGoTopages()">Pages</button>
    <button type="button" class="btn4" (click)="onGoToAbout()">About Me</button>
    <button type="button" class="btn5">Blog</button>
    <button type="button" class="btn6">Contact</button>
    <button type="button" class="search">Search</button>
    <router-outlet></router-outlet>
</div>
<!-- <a routerLink="/register.component" routerLinkActive="active">Register</a> -->
       <!-- <router-outlet></router-outlet> -->