
<h1>Latest Recipes </h1>
<hr>
    <img src="assets\img9.jpeg" class="recepies1">
    <span id="rectext1" class="rectext1">
      Lactose Free Homemade Cheese</span>
      <img src="assets\img8.jpeg" class="recepies2">
      <span id="rectext2" class="rectext2">
        Grilled delicious Chicken </span>
      <img src="assets\img7.jpeg" class="recepies3">
      <span id="rectext3" class="rectext3">
        Meal Prep Breakfast For The Week</span>
      <img src="assets\img14.jpeg" class="recepies4">
      <span id="rectext4" class="rectext4">
        Giant Multi-Stuffed Soft Pretzel</span>
      <img src="assets\salad2.jpeg" class="recepies5">
      <span id="rectext5" class="rectext5">
        Vegetarian Breakfast for You</span>
      <img src="assets\img11.jpeg" class="recepies6">
      <span id="rectext6" class="rectext6">
        5 Recipes Almost Too Cute To Eat</span>
