.backgrndimage {
  z-index:-1;
    position: absolute;
    width: 100vw;
    height: 95vw;
    left: 0px;
    top: 116px;
       right: 0px;
       margin-bottom: 2%;
    
  }
  // #heroseation {
  //   position: absolute;
  //   width: 100%;
  //   height: 832px;
  //   left: 0px;
  //   top: 35px;
  // }
 
  .image1 {
    position: absolute;
    width: 100%;
    height: 231px;
    left: 135px;
    top: 636px;
  }
  .rectangle4 {
    box-sizing: border-box;
    position: absolute;
    width: 285px;
    height: 230px;
    left: 135px;
    top: 637px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border: 5px solid ;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  }
 
  .rectangle5 {
    box-sizing: border-box;
    position: absolute;
    width: 285px;
    height: 230px;
    left: 430px;
    top: 636px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border: 5px solid #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  }
 
  .rectangle6 {
    box-sizing: border-box;
    position: absolute;
    width: 285px;
    height: 230px;
    left: 725px;
    top: 636px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border: 5px solid #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  }
 
  .rectangle7 {
    box-sizing: border-box;
    position: absolute;
    width: 285px;
    height: 230px;
    left: 1020px;
    top: 636px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border: 5px solid #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  }
 
  #mexicangrilled {
    position: absolute;
    width: 529px;
    height: 264px;
    left: 456px;
    top: 244px;
 
  }
 
  .mexicantext {
    position: absolute;
    width: 529px;
    height: 146px;
    left: 456px;
    top: 244px;
 
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 100.9%;
    /* or 73px */
 
    text-align: center;
    color: #FFFFFF;
  }
  #rectangle9 {
    position: absolute;
    width: 124px;
    height: 38px;
    left: 658px;
    top: 470px;
    background: #FE4A51;
  }
 
  .viewrecepie {
    position: absolute;
    width: 82px;
    height: 14px;
    left: 679px;
    top: 482px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100.9%;
    /* or 14px */
    color: #FFFFFF;
  }
 
  #service {
    position: absolute;
    width: 90px;
    height: 16px;
    left: 550px;
    top: 422px;
  }
 
  .Servicing {
    position: absolute;
    width: 68px;
    height: 14px;
    left: 572px;
    top: 423px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100.9%;
    /* or 14px */
    text-align: center;
    color: #FFFFFF;
  }
  #time{
   position: absolute;
 width: 86px;
 height: 16px;
 left: 677px;
 top: 422px;
 
  }
  .minutes{
  position: absolute;
  width: 64px;
  height: 14px;
  left: 699px;
  top: 423px;
   font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100.9%;
  /* or 14px */
   color: #FFFFFF;
 }
  #author{
  position: absolute;
 width: 91px;
 height: 16px;
 left: 800px;
 top: 422px;
  }
  .luis{
  position: absolute;
 width: 69px;
 height: 14px;
 left: 822px;
 top: 423px;
 font-family: 'Lato';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 100.9%;
 /* or 14px */
 color: #FFFFFF;
  } 