<div id="main">
      <p class="font">
            This is the Food Blog App. You can visit so many Food's Recepie here.<br>
           So Many Desserts are also Available Here.
           </p>
      <img src="assets\gettyimages-155152520-612x612.jpg" alt="" class="backgrndimage">
      <span id="mexicangrilled" class="mexicantext">Mexican Griller Corn Recepie</span>
      <span id="service" class="Servicing">servicing</span>&nbsp;
      <span id="time" class="minutes">40 Minutes</span>&nbsp;
      <span id="author" class="luis">Louis Fonsi</span>&nbsp;
      <Button type="button" id="rectangle9" class="viewrecepie">View Recepies</Button>
      <img src="assets\chicken.jpg" class="rectangle4">
      <img src="assets\donut.jpg" class="rectangle5">
      <img src="assets\fruitsalad.jpg" class="rectangle6">
      <img src="assets\pizza.jpg" class="rectangle7">
      </div>