
#cardtrend{
position: absolute;
width: 270px;
height: 461px;
left: 35%;
top: 50px;
}
h1{
    position: absolute;
width: 147px;
height: 18px;
left: 35%;
top: 50px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 100.9%;
/* or 18px */
color: #2D2D2D;
}
hr
{
 position: absolute;
width: 270px;
height: 0px;
left: 35%;
top: 101px;
border: 1px solid #2D2D2D;
}
.trndimg1{
    position: absolute;
width: 70px;
height: 70px;
left: 35%;
top: 130px;
background:#C4C4C4;
}
.trndimg2{
 position: absolute;
width: 70px;
height: 70px;
left: 35%;
top: 215px;
background:#C4C4C4;
}
.trndimg3{
position: absolute;
width: 70px;
height: 70px;
left: 35%;
top: 305px;
background:#C4C4C4;
}
.trndimg4{
 position: absolute;
width: 70px;
height: 70px;
left: 35%;
top: 395px;
background:#C4C4C4;
}
.trndimg5{
position: absolute;
width: 70px;
height: 70px;
left: 35%;
top: 485px;
background: #C4C4C4;
}
.txt1{
position: absolute;
width: 175px;
height: 34px;
left: 42%;
top: 135px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 111.9%;
/* or 17px */
color: #2D2D2D;
}
.txta{
    position: absolute;
width: 70px;
height: 14px;
left: 45%;
top: 175px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 100.9%;
/* or 14px */
color: #2D2D2D;
}
.txtb{
    position: absolute;
width: 17px;
height: 14px;
left: 43%;
top: 175px;
font-family: 'Lato';
font-style: normal;
font-weight: 350;
font-size: 13px;
line-height: 100.9%;
/* or 14px */
color: rgba(45, 45, 45, 0.6);
}
.txt2{
position: absolute;
width: 182px;
height: 34px;
left: 42%;
top: 215px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 111.9%;
/* or 17px */
color: #2D2D2D;
}
.txt2a{
    position: absolute;
width: 70px;
height: 13px;
left: 45%;
top: 255px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 100.9%;
/* or 14px */
color: #2D2D2D;
}
.txt2b{
    position: absolute;
width: 17px;
height: 14px;
left: 43%;
top: 255px;
font-family: 'Lato';
font-style: normal;
font-weight: 350;
font-size: 14px;
line-height: 100.9%;
/* or 14px */
color: rgba(45, 45, 45, 0.6);
}
.txt3{
position: absolute;
width: 172px;
height: 34px;
left: 42%;
top: 305px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 111.9%;
/* or 17px */
color: #2D2D2D;
}
.txt3a{
    position: absolute;
width: 70px;
height: 13px;
left: 45%;
top: 345px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 100.9%;
/* or 14px */
color: #2D2D2D;
}
.txt3b{
    position: absolute;
width: 17px;
height: 14px;
left: 43%;
top: 345px;
font-family: 'Lato';
font-style: normal;
font-weight: 350;
font-size: 14px;
line-height: 100.9%;
/* or 14px */
color: rgba(45, 45, 45, 0.6);
}
.txt4{
    position: absolute;
width: 177px;
height: 34px;
left: 42%;
top: 395px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 111.9%;
/* or 17px */
color: #2D2D2D;
}
.txt4a{
    position: absolute;
width: 70px;
height: 13px;
left: 45%;
top: 435px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 100.9%;
/* or 14px */
color: #2D2D2D;
}
.txt4b{
    position: absolute;
width: 17px;
height: 14px;
left: 43%;
top: 435px;
font-family: 'Lato';
font-style: normal;
font-weight: 350;
font-size: 14px;
line-height: 100.9%;
/* or 14px */
color: rgba(45, 45, 45, 0.6);
}
.txt5{
    position: absolute;
width: 167px;
height: 38px;
left: 42%;
top: 485px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 111.9%;
/* or 17px */
color: #2D2D2D;
}
.txt5a{
    
position: absolute;
width: 70px;
height: 13px;
left: 45%;
top: 525px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 100.9%;
/* or 14px */
color: #2D2D2D;
}
.txt5b{
    position: absolute;
width: 17px;
height: 14px;
left: 43%;
top: 525px;
font-family: 'Lato';
font-style: normal;
font-weight: 350;
font-size: 14px;
line-height: 100.9%;
/* or 14px */
color: rgba(45, 45, 45, 0.6);
}