<h1>Tranding Recipes</h1>
<hr>
<img src="assets\img9.jpeg" class="trndimg1">
    <span id="txt1" class="txt1">
       Gluten-Free Almond Cake
        with Berries</span>
        <span id="txta" class="txta">Luice Fonci</span>
        <span id="txtb" class="txtb">  By</span>
      <img src="assets\img8.jpeg" class="trndimg2">
      <span id="txt2" class="txt2">
        Enjoy My Favourite Molten
        Chocolate Cake</span>
        <span id="txt2a" class="txt2a">Luice Fonci</span>
        <span id="txt2b" class="txt2b">  By</span>
      <img src="assets\img7.jpeg" class="trndimg3">
      <span id="txt3" class="txt3">
        Perfect avocado toast for 
        breakfast</span>
        <span id="txt3a" class="txt3a">Luice Fonci</span>
        <span id="txt3b" class="txt3b">  By</span>
      <img src="assets\img14.jpeg" class="trndimg4">
      <span id="txt4" class="txt4">
        Pumpkin Kale Patties with
Coconut Cilantro Rice</span>
        <span id="txt4a" class="txt4a">Luice Fonci</span>
        <span id="txt4b" class="txt4b">  By</span>
      <img src="assets\salad2.jpeg" class="trndimg5">
      <span id="txt5" class="txt5">The Healhiest Version of 
        Yourself</span>        
        <span id="txt5a" class="txt5a">Luice Fonci</span>
        <span id="txt5b" class="txt5b">  By</span>