<header>
  <app-menu></app-menu>
</header>
<article>
  <app-sidenav></app-sidenav>
  <router-outlet></router-outlet>
<!-- <app-background></app-background>
   <app-recepie></app-recepie>
   <app-about></app-about>
   <app-ads></app-ads>
   
   <app-food></app-food>
  <app-recepielatest></app-recepielatest>
  <app-subscribe></app-subscribe>
  <app-trending-recepie></app-trending-recepie> -->
 </article>
<!--   
  
    nav
  </nav>
  <aside>
    Aside
  </aside> -->
  <!-- <app-footerimg></app-footerimg>
  <app-document></app-document>
<footer>
  <span id="copy" class="copy">
  Copyright 2020 by ojjomedia. All Rights Reserved</span>
  </footer> -->
