 .backgrndimage {
   position: absolute;
   width: 100vw;
   height: 636px;
   left: 0px;
   top: 116px;
   bottom: 116px;
   right: 0px;
   background-repeat: no-repeat;
 }

 .logo {
   position: absolute;
   width: 99px;
   height: 29px;
   left: 135px;
   top: 40px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 29px;
   text-transform: uppercase;
   color: #FE4A51;
 }


 * {
   box-sizing: border-box;
 }

 body {
   margin: 0;
 }

 #main {
   display: flex;
   min-height: calc(100vh - 40vh);
 }

 #main>article {
   flex: 1;
 }

 #main>nav,
 #main>aside {
   flex: 0 0 20vw;
   background: #FFFFFF;
 }

 #main>nav {
   order: -1;
 }

 header,
 footer,
 article,
 nav,
 aside {
   padding: 1em;
   z-index: 111;
 }

 header,
 footer {
   background: rgb(255, 255, 255);
   height: 20vh;
 }

 #mainArticle {
   grid-area: article;
 }

 #mainNav {
   grid-area: nav;
 }

 #siteAds {
   grid-area: ads;
 }

 .menu {
   position: absolute;
   width: 100%;
   height: 38px;
   left: 135px;
   top: 35px;
 }
 .rectangle4 {
   box-sizing: border-box;
   position: absolute;
   width: 285px;
   height: 230px;
   left: 135px;
   top: 637px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
   border: 5px solid #FFFFFF;
   box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
 }
 .rectangle5 {
   box-sizing: border-box;
   position: absolute;
   width: 285px;
   height: 230px;
   left: 430px;
   top: 636px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
   border: 5px solid #FFFFFF;
   box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
 }

 .rectangle6 {
   box-sizing: border-box;
   position: absolute;
   width: 285px;
   height: 230px;
   left: 725px;
   top: 636px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
   border: 5px solid #FFFFFF;
   box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
 }

 .rectangle7 {
   box-sizing: border-box;
   position: absolute;
   width: 285px;
   height: 230px;
   left: 1020px;
   top: 636px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
   border: 5px solid #FFFFFF;
   box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
 }

 #mexicangrilled {
   position: absolute;
   width: 529px;
   height: 264px;
   left: 456px;
   top: 244px;

 }

 .mexicantext {
   position: absolute;
   width: 529px;
   height: 146px;
   left: 456px;
   top: 244px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 700;
   font-size: 72px;
   line-height: 100.9%;
   /* or 73px */
   text-align: center;
   color: #FFFFFF;
 }
 .rect54{
  position: absolute;
  width: 870px;
  height: 257px;
  left: 135px;
  top: 1887px;
  background: #FFE5E6;
  }
 footer {
  height: 500px;
  margin-top: 300px;
 }

