

  <header> 
  <app-menu></app-menu><router-outlet></router-outlet>
 </header>
    
  <div id="main" class="heroseation">
    <article>
    <img src="assets\gettyimages-155152520-612x612.jpg" alt="" position="absolute" class="backgrndimage">
      <img src= "assets\chicken.jpg" class="rectangle4">
      <img src= "assets\donut.jpg" class="rectangle5">
      <img src= "assets\fruitsalad.jpg" class="rectangle6">
      <img src= "assets\pizza.jpg" class="rectangle7">
    </article>
 <nav></nav>
    <aside></aside>
  
  <footer>Footer</footer>