<header>
  <app-menu></app-menu><router-outlet></router-outlet>
</header>

<div id="main" class="heroseation">
  <article>
    <img src="assets\gettyimages-155152520-612x612.jpg" alt="" position="absolute" class="backgrndimage">
    <span id="mexicangrilled" class="mexicantext">Mexican Griller Corn Recepie</span>
    
    <span id="service" class="Servicing">servicing</span>&nbsp;
    <span id="time" class="minutes">40 Minutes</span>&nbsp;
    <span id="author" class="luis">Louis Fonsi</span>&nbsp;
    <Button type="button" id="rectangle9" class="viewrecepie">View Recepies</Button>
    <img src="assets\chicken.jpg" class="rectangle4">
    <img src="assets\donut.jpg" class="rectangle5">
    <img src="assets\fruitsalad.jpg" class="rectangle6">
    <img src="assets\pizza.jpg" class="rectangle7">
  
   <span id="mostpprecepie" class="mprecepie">Most Popular Recipes</span>
   <img src="assets\thali.jpg" class="recepie1img" id="recepie1">
   <span id="thaliimg" class="thaliimg">Delicious Premium Thali</span>
   <img src="assets\pavbhaji.jpg" class="recepie1img1">
   <span id="braintext" class="braintext">Pav Bhaji</span>
   <img src="assets\sweets.jpg" class="recepie1img2">
   <span id="trdsweet" class="trdsweet">Traditional Sweets</span>
   <img src="assets\gettyimages-155152615-612x612.jpg" class="recepie1img3">
   <span id="grillchic" class="grillchic">Mexican Grilled Chicken</span>

  </article>
  <!-- <nav>
    nav
  </nav>
  <aside>
    Aside
  </aside> -->
</div>
<footer></footer>
