.card1{
position: absolute;
width: 870px;
height: 550px;
left: 135px;
top: 2244px;
}
h1{
    position: absolute;
width: 239px;
height: 42px;
left: 135px;
top: 2244px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 100.9%;
/* or 36px */
color: #2D2D2D;
}
hr{
    position: absolute;
width: 870px;
height: 0px;
left: 135px;
top: 2301px;
border: 1px solid #2D2D2D;
}
.recepies1{
position: absolute;
width: 280px;
height: 190px;
left: 135px;
top: 2326px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.recepies2{
    position: absolute;
width: 290px;
height: 190px;
left: 425px;
top: 2326px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.recepies3{
    position: absolute;
width: 280px;
height: 190px;
left: 725px;
top: 2326px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
 .recepies4{
    position: absolute;
width: 280px;
height: 190px;
left: 135px;
top: 2527px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
 }
 .recepies5{
    position: absolute;
width: 290px;
height: 190px;
left: 425px;
top: 2527px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
 }
 .recepies6{
    position: absolute;
width: 280px;
height: 190px;
left: 725px;
top: 2527px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
 }
 .rectext1{
    position: absolute;
width: 218px;
height: 14.92px;
left: 166px;
top: 2454.32px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 100.9%;
/* or 15px */
color: #FFFFFF;
 }
 .rectext2{
    position: absolute;
width: 208px;
height: 14.92px;
left: 466px;
top: 2454.32px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 100.9%;
/* or 15px */
color: #FFFFFF;

 }
 .rectext3{
    position: absolute;
width: 234px;
height: 14.92px;
left: 748px;
top: 2455.32px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 100.9%;
/* or 15px */
color: #FFFFFF;
 }
 .rectext4{
    position: absolute;
width: 214px;
height: 14.92px;
left: 168px;
top: 2655.32px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 100.9%;
/* or 15px */
color: #FFFFFF;
 }
 .rectext5{
    position: absolute;
width: 194px;
height: 14.92px;
left: 473px;
top: 2655.32px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 100.9%;
/* or 15px */
color: #FFFFFF;
 }
 .rectext6{
    position: absolute;
width: 222px;
height: 14.92px;
left: 754px;
top: 2655.32px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 100.9%;
/* or 15px */
color: #FFFFFF;
 }