

.tp-container {
    align-content: center;
    align-items: center;
    align-self: center;
    top: 50px;
    bottom: 0;
    left: 0;
    width:100%; 
  background-color: #eeee;
 }
 
 .tp-section {
     align-content: center;
    align-items: center;
    align-self: center;
    height: 60px;
    width: 100px;
    top: 50px;
    margin-left: 20px;
 }
 
  