
#cardtrend{
position: absolute;
width: 270px;
height: 461px;
left: 1035px;
top: 2256px;
}
h1{
    position: absolute;
width: 147px;
height: 18px;
left: 1035px;
top: 2256px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 100.9%;
/* or 18px */
color: #2D2D2D;
}
hr
{
 position: absolute;
width: 270px;
height: 0px;
left: 1035px;
top: 2301px;
border: 1px solid #2D2D2D;
}
.trndimg1{
    position: absolute;
width: 70px;
height: 70px;
left: 1035px;
top: 2326px;
background:#C4C4C4;
}
.trndimg2{
 position: absolute;
width: 70px;
height: 70px;
left: 1035px;
top: 2406px;
background:#C4C4C4;
}
.trndimg3{
position: absolute;
width: 70px;
height: 70px;
left: 1035px;
top: 2486px;
background:#C4C4C4;
}
.trndimg4{
 position: absolute;
width: 70px;
height: 70px;
left: 1035px;
top: 2566px;
background:#C4C4C4;
}
.trndimg5{
position: absolute;
width: 70px;
height: 70px;
left: 1035px;
top: 2647px;
background: #C4C4C4;
}
.txt1{
position: absolute;
width: 175px;
height: 34px;
left: 1119px;
top: 2326px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 111.9%;
/* or 17px */
color: #2D2D2D;
}
.txta{
    position: absolute;
width: 70px;
height: 14px;
left: 1161px;
top: 2368px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 100.9%;
/* or 14px */
color: #2D2D2D;
}
.txtb{
    position: absolute;
width: 17px;
height: 14px;
left: 1139px;
top: 2368px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 100.9%;
/* or 14px */
color: rgba(45, 45, 45, 0.6);
}
.txt2{
position: absolute;
width: 182px;
height: 34px;
left: 1119px;
top: 2406px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 111.9%;
/* or 17px */
color: #2D2D2D;
}
.txt2a{
    position: absolute;
width: 70px;
height: 13px;
left: 1161px;
top: 2448px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 100.9%;
/* or 14px */
color: #2D2D2D;
}
.txt2b{
    position: absolute;
width: 17px;
height: 14px;
left: 1139px;
top: 2448px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100.9%;
/* or 14px */
color: rgba(45, 45, 45, 0.6);
}
.txt3{
position: absolute;
width: 172px;
height: 34px;
left: 1119px;
top: 2486px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 111.9%;
/* or 17px */
color: #2D2D2D;
}
.txt3a{
    position: absolute;
width: 70px;
height: 13px;
left: 1161px;
top: 2528px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 100.9%;
/* or 14px */
color: #2D2D2D;
}
.txt3b{
    position: absolute;
width: 17px;
height: 14px;
left: 1139px;
top: 2528px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100.9%;
/* or 14px */
color: rgba(45, 45, 45, 0.6);
}
.txt4{
    position: absolute;
width: 177px;
height: 34px;
left: 1119px;
top: 2566px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 111.9%;
/* or 17px */
color: #2D2D2D;
}
.txt4a{
    position: absolute;
width: 70px;
height: 13px;
left: 1161px;
top: 2608px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 100.9%;
/* or 14px */
color: #2D2D2D;
}
.txt4b{
    position: absolute;
width: 17px;
height: 14px;
left: 1139px;
top: 2608px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100.9%;
/* or 14px */
color: rgba(45, 45, 45, 0.6);
}
.txt5{
    position: absolute;
width: 167px;
height: 38px;
left: 1119px;
top: 2647px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 111.9%;
/* or 17px */
color: #2D2D2D;
}
.txt5a{
    
position: absolute;
width: 70px;
height: 13px;
left: 1161px;
top: 2689px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 100.9%;
/* or 14px */
color: #2D2D2D;
}
.txt5b{
    position: absolute;
width: 17px;
height: 14px;
left: 1139px;
top: 2689px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100.9%;
/* or 14px */
color: rgba(45, 45, 45, 0.6);
}