 .card{
    position: absolute;
width: 270px;
height: 195px;
left: 40%;
top: 155px;
background: #DEDADA;
}
.card-container{
    position: absolute;
width: 154px;
height: 30px;
left: 42%;
top: 175px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 163.9%;
/* identical to box height, or 30px */
color: #2D2D2D;
 }
 
    .text1{
        position: absolute;
width: 220px;
height: 40px;
left: 40%;
top: 225px;
background: #FFFFFF;
 }
 .btn{
    position: absolute;
width: 220px;
height: 40px;
left:40%;
top: 285px;
background: #FE4A51;
 }
 .text2{
    position: absolute;
width: 99px;
height: 20px;
left: 44%;
top: 238px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 163.9%;
/* identical to box height, or 20px */
color: #2D2D2D;
 }
 .text3{
    position: absolute;
width: 79px;
height: 20px;
left: 45%;
top: 289px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 163.9%;
/* identical to box height, or 30px */
color: #FFFFFF;
 }
