#card>div>form>span{
    position: absolute;
width: 270px;
height: 195px;
left: 1035px;
top: 1874px;
background: #DEDADA;
}
.card-container{
    position: absolute;
width: 154px;
height: 30px;
left: 1093px;
top: 1899px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 163.9%;
/* identical to box height, or 30px */
color: #2D2D2D;
 }
 
    .text1{
        position: absolute;
width: 220px;
height: 40px;
left: 1060px;
top: 1954px;
background: #FFFFFF;
 }
 .btn{
    position: absolute;
width: 220px;
height: 40px;
left: 1060px;
top: 2004px;
background: #FE4A51;
 }
 .text2{
    position: absolute;
width: 99px;
height: 20px;
left: 1121px;
top: 1964px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 163.9%;
/* identical to box height, or 20px */
color: #2D2D2D;
 }
 .text3{
    position: absolute;
width: 79px;
height: 30px;
left: 1131px;
top: 2009px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 163.9%;
/* identical to box height, or 30px */
color: #FFFFFF;
 }
