
<mat-sidenav-container class="tp-container">
   <mat-sidenav mode = "side" opened>
      <section class="tp-section">
         <button type="button" class="btn2" href="recepie.html">Latest Recepie</button>
      </section>
      <section class="tp-section">
         <button type="button" class="btn2" href="recepie.html">Latest Recepie</button>
      </section>
      <section class="tp-section">
         <button type="button" class="btn2" href="recepie.html">Latest Recepie</button>
      </section>
   </mat-sidenav>
   <mat-sidenav-content>Main content
      
   </mat-sidenav-content>
   </mat-sidenav-container>
